@font-face{
    src: url(../../LoginPage/Elixia.ttf);
    font-family: eli;
  }

#center {
    text-align: center;
    position: relative;
    top: 20%;
    height: auto;
    color:  white;
  }

  body {
    font-family: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #7314aa, #000000);
    overflow: hidden;
  }
  #Title {
    font-family: eli;
    text-decoration: underline;
    text-underline-offset: 10px;
}

  #CrewLog {
    height: 300px;
    width: 350px;
    border-style: solid;
    padding: 5px;
    overflow-y: auto;

}

#Name {
  margin: 10px;
}

#notice {
  font-size: 15px;
  color: red;
}

:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}

.button {
  font-size: 20px;
  margin: 10px;
  background: none;
  border: none;
  padding: 10px;
  position: relative;
  background-color: var(--blue-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  width: 220px; /* Adjust the width as needed */
  height: 50px;
}

.CrewMemberBtn {
  align-items: center;
  font-size: 15px;
  margin: 10px;
  background: none;
  border: none;
  padding: 10px;
  position: relative;
  background-color: var(--blue-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  width: 220px; /* Adjust the width as needed */
  height: 35px;
}