@font-face{
    src: url(../../LoginPage/Elixia.ttf);
    font-family: eli;
  }

body {
    font-family: 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #7314aa, #000000);
    overflow: hidden;
    color: white;
  }

#center {
    border-style: solid;
    padding: 20px;
}

#Title {
    font-family: eli;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#HistoryContainer {
    margin-bottom: 30px;
    margin-top: 100px;
}

#History {
    height: 100px;
    width: 350px;
    border-style: solid;
    padding: 10px;
    overflow-y: scroll;
}

#SendMoneyContainer {
    height: 200px;
    width: 350px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.CreditDisplay {
    float: left;
}

#CreditContainer {
    width: 200px;
    height: 200px;
}

#Credits {
    font-size: 20px;
    margin: 10px;
}


:root {
    --yellow-color: #fcee09; 
    --red-color: #ff003c;
    --black-color: #050a0e;
    --blue-color: #00f0ff;
  }
  
  .button {
    font-size: 20px;
    margin: 10px;
    background: none;
    border: none;
    padding: 10px;
    position: relative;
    background-color: var(--blue-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    width: 220px; /* Adjust the width as needed */
    height: 50px;
  }

#SendMoneyFeedback {
    display: none;
    color: red;
    padding: 5px;
}

#FeedbackContainer {
    margin-top: 10px;
}