@font-face{
    src: url(../../LoginPage/Elixia.ttf);
    font-family: eli;
  }

body {
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

#Title {
    font-family: eli;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#HistoryContainer {
    margin-bottom: 30px;
    margin-top: 100px;
}

#History {
    height: 100px;
    width: 350px;
    border-style: solid;
    padding: 10px;
}

#SendMoneyContainer {
    height: 200px;
    width: 350px;
    border-style: solid;
    padding: 10px;
}

.CreditDisplay {
    float: left;
}

#CreditContainer {
    width: 200px;
    height: 200px;
}

#Credits {
    font-size: 20px;
    margin: 10px;
}


.button {
    font-family: 'Trebuchet MS';
    background-color: #45A29E; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

#SendMoneyFeedback {
    display: none;
    color: red;
    padding: 5px;
}

#FeedbackContainer {
    margin-top: 10px;
}