@font-face{
    src: url(../../LoginPage/Elixia.ttf);
    font-family: eli;
  }

  #center {
    text-align: left;
    position: relative;
    top: 20%;
    height: auto;
    width: auto;
    color:  white;
    font-family: 'Trebuchet MS';
  }

  body {
    font-family: 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #7314aa, #000000);
    overflow: hidden;
    color: white;
  }
  
#Title {
    font-family: eli;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#title {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#NewNoteContainer {
    margin-top: 50px;
    width: 500px;
    height: auto;
    border: 1px;
} 

#Notes {
    border: 1px solid white;
    padding: 20px;
    width: 500px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
} 

:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}

.button {
  font-size: 20px;
  background: none;
  border: none;
  padding: 10px;
  position: relative;
  background-color: var(--blue-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  width: 220px;
  height: 50px;
}

.textfield {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
