@font-face{
  src: url(Elixia.ttf);
  font-family: eli;
}
#center {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50%;
}
body {
  font-family: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

h1{
  font-family: eli;
  color: white;
}
label{
  color: white;
}

#SubmitButton {
  background-color: #45A29E; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  width: 300px;
}
