@font-face{
    src: url(Elixia.ttf);
    font-family: eli;
  }

#center {
    text-align: center;
    position: relative;
    top: 50%;
    height: auto;
    color: white;
    font-family: 'Trebuchet MS';

  }
  body {
    font-family: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: radial-gradient(ellipse at bottom, #162e4e 0%, #0c0d13 100%);
    overflow: hidden;
  }
  

#Buttons {
        margin-right: 200px;
        list-style: none;
        text-align: center;
        width: 100px;
        height: 300px;
        list-style: none;
        line-height: 60px;
}

#button {
    font-family: 'Trebuchet MS';
    background-color: #45A29E; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
}

#NewsContainer {
    color: white;
    position: absolute;
    text-align: left;
    top: 300px;
    
}

#News {
    height: 400px;
    width: 350px;
    font-size: 16px;
    border-style: dotted;
}

